* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    padding: 1rem;
}
/* HEADER AREA */
nav {
    background-color: lightcyan;
}
.links {
    visibility: hidden;
}
.menu {
    all: unset;
    cursor: pointer;
    display: block;
    margin-left: 90%;
    padding-bottom: 10px;
}
/* INTRO AREA */
.intro-container img {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
   
}
.intro-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block: 1rem;
    text-align: center;
}
.download-btn {
    width: 40%;
    display: block;
    margin: 10px auto;
    color: white;
    font-size: 1em;
    padding: 10px;
    background-color: lightcoral;
    border: none;
}
.title-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0.5em;
}
.view {
    color: rgba(84, 84, 249, 0.872);
}
.post-container {
    background-color: lightcyan;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.post-card {
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* WORK AREA */
.work-card {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 2em;
}
.work-card img {
    width: 100%;
}
.year-line {
    display: flex; 
}

/* FOOTER AREA */

@media screen and (min-width: 800px) {
    .links {
        visibility: visible;
    }
    .menu {
        visibility: hidden;
    }
    .intro-container img {
        order: -1;
    }

}