* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
        line-height: 1.5;
}
/* Start with mobile screen size below */
.container {
    padding: 1rem;
}
/* HEADER AREA */
nav {
    background-color: lightcyan;
}
.links {
    visibility: hidden;
}
.links a:hover {
    color: hotpink;
}
.menu {
    all: unset;
    cursor: pointer;
    display: block;
    margin-left: 90%;
    padding-bottom: 10px;
}
/* INTRO AREA */
.intro-container img {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
   
}
.intro-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block: 1rem;
    text-align: center;
}
.download-btn {
    width: 40%;
    display: block;
    margin: 10px auto;
    color: white;
    font-size: 1em;
    padding: 10px;
    background-color: lightcoral;
    border: none;
}
.title-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.view {
    color: rgba(84, 84, 249, 0.872);
}
.post-container {
    background-color: lightcyan;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.card-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.post-card {
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* WORK AREA */
.work-card {
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-block: 1.5em 2em;
}
.work-img {
    width: 100%;
}
.year-line {
    display: flex; 
    gap: 0.5em;
    align-items: center;
}
.year-line p {
    color: grey;
}
.year-box {
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 50px;
    text-align: center;
    font-size: 11pt;
    padding: 3px;
}
/* FOOTER AREA */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin: 2rem auto;
}
.social-area {
    display: flex;
    gap: 10px;
    font-size: 2em;
}
footer p {
    color: grey;
    font-size: 11pt;
}
/* For computer screen size below */
@media screen and (min-width: 770px) {
    nav {
        background-color: white;
    }
    .links {
        visibility: visible;
        display: flex;
        gap: 20px;
        justify-content: end;
        padding: 1em 1em 0 0;
        margin-right: 1em;;
    }
    .links a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 1.2em;
    }
    .menu {
        visibility: hidden;
    }
    .container {
        margin-inline: 10%; 
    }
    .post-container {
        padding-inline: 10%; 
    }
    .intro-container {
        display: flex;
        flex-direction: row-reverse;
        gap: 3em;
        padding-block: 3em;
    }
    .intro-container img {
        width: 250px;
        height: 250px;
    }
    .intro-card {
        text-align: left;
    }
    .download-btn {
        margin: 2em 0 0 0;
    }
    .card-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    }
    .work-card {
        display: flex;
        flex-direction: row;
        gap: 1.5em;
    }
    .work-card img {
        width: 200px;
    }
    .description-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}

/* For tablet screen size below */
@media screen and (min-width: 430px) {
}